<tdlist-input (onAdd)="onAdd($event)"></tdlist-input>
<div class="scroll">
  <div class="task-list">
    <tdlist-task *ngFor="let task of visibleTasks" [task]="task" (onCheck)="onCheck($event)" (onClose)="onClose($event)"></tdlist-task>
  </div>
</div>
<div class="footer">
  <label class="active-tasks-label">Active tasks: {{activeItems}}</label>
  <tdlist-sort (onAll)="onAll()" (onComplete)="onComplete()" (onActive)="onActive()"></tdlist-sort>
  <tdlist-taskscheck-delchecked (onCheckUncheck)="onCheckUncheck($event)" (onDelChecked)="onDelChecked()"></tdlist-taskscheck-delchecked>
</div>
