$textColor: rgb(231, 231, 231);
$backgroundColor: rgba(170, 184, 192, 0.56);
$shadowColor: rgba(18, 33, 36, 0.89);

@mixin task-list-text-style {
  font: {
    family: 'MV Boli';
    size: 17px;
    style: normal;
  }
}

@mixin text-style {
  font: {
    family: 'Calibri Light';
    size: 20px;
    style: normal;
  }
}

@mixin border-style {
  border: {
    color: transparent;
    style: solid;
    width: 1px;
    top-color: $textColor;
  }
}

.active-tasks-label {
  @include text-style;
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  color: $textColor;
  text-decoration: none;
  display: inline-block;
}

.task-list {
  @include task-list-text-style;
  list-style: none;
  text-align: center;
  position: relative;
  width: 70%;
  left: 15%;
}

.footer {
  @include border-style;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.scroll {
  margin-top: 80px;
  padding-bottom: 50px;
  min-height: 750px;
  max-height: 750px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $backgroundColor;
}