$textColor: rgb(231, 231, 231);
$backgroundColor: rgba(191, 75, 26, 0.83);
$btnBackgroundHoverColor: #527df4;
$inputBackgroundColor: rgb(50, 69, 133);
$footerBackgroundColor: rgb(50, 69, 133);
$btnsColor: rgb(52, 80, 146);
$shadowColor: rgba(18, 33, 36, 0.89);
$scrollBarCollor: rgb(123, 123, 123);
$cursorType: pointer;

@mixin btn-text-style {
  font: {
    family: 'Calibri Light';
    size: 17px;
    style: normal;
  }
}

@mixin btn-normal-shadow {
  -webkit-box-shadow: 3px 1px 5px $shadowColor;
}

@mixin btn-normal-style {
  border: 1px solid transparent;
  cursor: $cursorType;
  background-color: transparent;
  color: $textColor;
}

@mixin btn-hover-shadow {
  -webkit-box-shadow: 4px 2px 4px $shadowColor;
}

@mixin btn-hover-style {
  border-color: $textColor;
}

@mixin  btn-active-shadow {
  -webkit-box-shadow: inset 2px 1px 4px $shadowColor;
}

@mixin btn-active-style {
  background-color: transparent;
  border-color: transparent;
  @include btn-active-shadow;
}

.footerBtns {
  float: right;
  padding: 12px;
}

.check-uncheck-btn,
.del-checked-btn {
  @include btn-text-style;
  @include btn-normal-style;
  padding: 8px 12px;
  text-decoration: none;
  display: inline-block;
  cursor: $cursorType;
}

.check-uncheck-btn:hover,
.del-checked-btn:hover {
  @include btn-hover-style;
}

.check-uncheck-btn:active,
.del-checked-btn:active {
  @include btn-active-style;
}

button:focus {
  outline: none;
}
