<app-todo-list-input (onAdd)="onAdd($event)"></app-todo-list-input>
<div class="scroll" *ngIf="allCheck">
  <div class="task-list">
    <app-todo-list-task-element *ngFor="let task of tasks" [task]="task" (onCheck)="onCheck()" (onClose)="onClose($event)"></app-todo-list-task-element>
  </div>
</div>
<div class="scroll" *ngIf="completeCheck">
  <div class="task-list">
    <app-todo-list-task-element *ngFor="let task of (tasks | completeTasks)" [task]="task" (onCheck)="onCheck()" (onClose)="onClose($event)"></app-todo-list-task-element>
  </div>
</div>
<div class="scroll" *ngIf="activeCheck">
  <div class="task-list">
    <app-todo-list-task-element *ngFor="let task of (tasks | activeTasks)" [task]="task" (onCheck)="onCheck()" (onClose)="onClose($event)"></app-todo-list-task-element>
  </div>
</div>
<div class="footer">
  <label class="active-tasks-label">Active tasks: {{activeItems}}</label>
  <app-todo-list-sort (onAll)="onAll()" (onComplete)="onComplete()" (onActive)="onActive()"></app-todo-list-sort>
  <app-todo-list-checkall-del (onCheckUncheck)="onCheckUncheck($event)" (onDelChecked)="onDelChecked()"></app-todo-list-checkall-del>
</div>
