$textColor: rgb(231, 231, 231);
$backgroundColor: rgba(191, 75, 26, 0.83);
$btnBackgroundHoverColor: #527df4;
$inputBackgroundColor: rgb(50, 69, 133);
$footerBackgroundColor: rgb(50, 69, 133);
$btnsColor: rgb(52, 80, 146);
$shadowColor: rgba(18, 33, 36, 0.89);
$scrollBarCollor: rgb(123, 123, 123);
$cursorType: pointer;

@mixin text-style {
  font: {
    family: 'Calibri Light';
    size: 18px;
    style: normal;
  }
}

@mixin btn-text-style {
  font: {
    family: 'MV Boli';
    size: 15px;
    style: normal;
  }
}

@mixin btn-normal-shadow {
  -webkit-box-shadow: 3px 1px 5px $shadowColor;
}

@mixin btn-normal-style {
  border: hidden;
  cursor: $cursorType;
  background-color: $btnsColor;
  @include btn-normal-shadow;
  color: $textColor;
}

@mixin btn-hover-shadow {
  -webkit-box-shadow: 4px 2px 4px $shadowColor;
}

@mixin btn-hover-style {
  color: $textColor;
  background-color: $btnBackgroundHoverColor;
  @include btn-hover-shadow;
}

@mixin  btn-active-shadow {
  -webkit-box-shadow: inset 2px 1px 4px $shadowColor;
}

@mixin btn-active-style {
  color: $btnsColor;
  background-color: $textColor;
  @include btn-active-shadow;
}

.input-background {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: $inputBackgroundColor;
  -webkit-box-shadow: 0 2px 7px $shadowColor;
}

.akveo-label {
  @include text-style;
  float: left;
  margin: 20px;
}

.input-new-task-name {
  @include btn-text-style;
  border: hidden;
  background-color: $inputBackgroundColor;
  color: $textColor;
  border-bottom: 1px solid $textColor;
  padding: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
}

input:focus {
  outline: none;
}

:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.6s ease;
}

::-webkit-input-placeholder {
  color: $textColor;
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}

.add-task-btn {
  @include btn-text-style;
  @include btn-normal-style;
  border: hidden;
  width: 60px;
  padding: 3px;
}

.add-task-btn:hover {
  @include btn-hover-style;
}

.add-task-btn:active {
  @include btn-active-style;
}
