<div>
  <h1 class="title-style">Welcome to greatest to do list!</h1>
  <div class="registration-form">
    <label class="registration-label">Enter your email and password</label>
    <form [formGroup]="userForm">
      <input size="50" class="login" formControlName="login" type="email" placeholder="example@mail.com" #login>
      <div *ngIf="formErrors.login" class="alert-danger">
        {{ formErrors.login }}
      </div>
      <input size="50" class="password" formControlName="pass" type="password" placeholder="password" #password>
      <div *ngIf="formErrors.pass" class="alert-danger">
        {{ formErrors.pass }}
      </div>
    </form>
    <div>
      <input type="button" class="login-btn" value="Log in" (click)="logging(login.value, password.value)">
      <input type="button" class="registration-btn" value="Registration" (click)="registration(login.value, password.value)">
    </div>
  </div>
</div>
