<div class="radio-btns-group">
  <input class="radio-btn" type="radio" name="sort" checked="checked" id="All"><label class="radio-btn-label" for="All" (click)="onAllClick()" #allTasks>All</label>
  <input class="radio-btn" type="radio" name="sort" id="Complete"><label class="radio-btn-label" for="Complete" (click)="onCompleteClick()" #completeTasks>Complete</label>
  <input class="radio-btn" type="radio" name="sort" id="Active"><label class="radio-btn-label" for="Active" (click)="onActiveClick()" #activeTasks>Active</label>
</div>
