$textColor: rgb(231, 231, 231);
$backgroundColor: rgba(191, 75, 26, 0.83);

.task-list-base {
  font-family: 'MV Boli';
  font-size: 15px;
  font-style: normal;
  text-align: center;
  color: $textColor;
  background-color: $backgroundColor; }
