<div class="authentication-form">
  <h1 class="title-style">Welcome to greatest to do list!</h1>
  <label class="authentication-label">Enter your email and password</label>
  <form [formGroup]="userForm">
    <input size="50" class="login" formControlName="login" type="email" placeholder="Enter your email" (keyup)="onEnterLogin($event, login.value, password.value)" #login>
    <div *ngIf="formErrors.login" class="alert">
      {{ formErrors.login }}
    </div>
    <input size="50" class="password" formControlName="pass" type="password" placeholder="Enter your password" (keyup)="onEnterLogin($event, login.value, password.value)" #password>
    <div *ngIf="formErrors.pass" class="alert">
      {{ formErrors.pass }}
    </div>
  </form>
  <div class="btns-form">
    <button class="login-btn" (click)="logging(login.value, password.value)">Log In</button>
    <button class="registration-btn" (click)="registration()">Registration</button>
  </div>
</div>
