$textColor: rgb(231, 231, 231);
$backgroundColor: rgba(191, 75, 26, 0.83);
$btnBackgroundHoverColor: #527df4;
$inputBackgroundColor: rgb(50, 69, 133);
$footerBackgroundColor: rgb(50, 69, 133);
$btnsColor: rgb(52, 80, 146);
$shadowColor: rgba(18, 33, 36, 0.89);
$scrollBarCollor: rgb(123, 123, 123);
$cursorType: pointer;

@mixin text-style {
  font: {
    family: 'Calibri Light';
    size: 18px;
    style: normal;
  }
}

@mixin btn-text-style {
  font: {
    family: 'MV Boli';
    size: 15px;
    style: normal;
  }
}

@mixin border-style {
  border: {
    color: $textColor;
    style: solid;
    width: 1px;
  }
}

@mixin btn-normal-shadow {
  -webkit-box-shadow: 3px 1px 5px $shadowColor;
}

@mixin btn-normal-style {
  cursor: $cursorType;
  background-color: transparent;
  color: transparent;
}

@mixin btn-hover-shadow {
  -webkit-box-shadow: 4px 2px 4px $shadowColor;
}

@mixin btn-hover-style {
  color: $textColor;
  background-color: transparent;
}

@mixin  btn-active-shadow {
  -webkit-box-shadow: inset 2px 1px 4px $shadowColor;
}

@mixin btn-active-style {
  color: $textColor;
  border-color: transparent;
  @include btn-active-shadow;
}

.task-name {
  display: inline;
  position: fixed;
  left: 50%;
  right: 50%;
  margin-top: 10px;
  text-decoration: none;
  user-select: none;
}

.task-name-complete {
  display: inline;
  position: fixed;
  left: 50%;
  right: 50%;  margin-top: 10px;
  text-decoration: line-through;
  user-select: none;
}

.task-close-btn {
  border: 1px solid transparent;
  background: url('http://localhost:4200/assets/trashcan_close.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  cursor: $cursorType;
  right: 5%;
  margin-top: 5px;
  position: fixed;
  padding: 9px 16px;
  display: inline;
}

.task-close-btn:hover {
  @include btn-hover-style;
  background: url('http://localhost:4200/assets/trashcan_open.png');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.task-list-element {
  display: block;
  text-align: center;
  color: $textColor;
  height: 45px;
  border: 1px solid transparent;
  border-bottom: 1px solid $textColor;
}

.task-list-element:hover {
  background-color: transparent;
  @include border-style;
}

.task-list-element:active {
  @include btn-active-style;
}

.task-checkbox {
  border-color: transparent;
  cursor: $cursorType;
  visibility: visible;
  display: inline;
  position: relative;
  top: 19%;
  right: 35%;
  pointer-events: none;
  -webkit-appearance: none;
  background: url('http://localhost:4200/assets/empty_check.png');
  padding: 9px 16px;
}

.task-checkbox:checked {
  top: 15%;
  background-image: none;
}

@keyframes check-animation {
  0% {content: url('http://localhost:4200/assets/empty_check.png');}
  15% {content: url('http://localhost:4200/assets/check_check_animation_2.png');}
  30% {content: url('http://localhost:4200/assets/check_check_animation_3.png');}
  50% {content: url('http://localhost:4200/assets/check_check_animation_4.png');}
  75% {content: url('http://localhost:4200/assets/check_check_animation_5.png');}
  100% {content: url('http://localhost:4200/assets/check_check.png');}
}

.task-checkbox:checked:after {
  content: url('http://localhost:4200/assets/check_check.png');
  animation-name: check-animation;
  animation-duration: 200ms;
  padding: 9px 16px;
}

input:focus {
  outline: none;
}