$textColor: rgb(231, 231, 231);
$backgroundColor: rgba(191, 75, 26, 0.83);
$btnBackgroundHoverColor: #527df4;
$inputBackgroundColor: rgba(50, 69, 133, 0);
$footerBackgroundColor: rgb(50, 69, 133);
$btnsColor: rgb(52, 80, 146);
$shadowColor: rgba(18, 33, 36, 0.89);
$scrollBarCollor: rgb(123, 123, 123);
$cursorType: pointer;

@mixin text-style {
  font: {
    family: 'Calibri Light';
    size: 20px;
    style: normal;
  }
  color: rgba(174, 68, 4, 0.89)
}

@mixin btn-text-style {
  font: {
    family: 'Calibri Light';
    size: 17px;
    style: normal;
  }
}

@mixin btn-normal-shadow {
  -webkit-box-shadow: 3px 1px 5px $shadowColor;
}

@mixin btn-normal-style {
  border: 1px solid transparent;
  cursor: $cursorType;
  background-color: transparent;
  color: $textColor;
}

@mixin btn-hover-shadow {
  -webkit-box-shadow: 4px 2px 4px $shadowColor;
}

@mixin btn-hover-style {
  border-color: $textColor;
}

@mixin  btn-active-shadow {
  border-color: transparent;
  -webkit-box-shadow: inset 2px 1px 4px $shadowColor;
}

@mixin btn-active-style {
  @include btn-active-shadow;
}

.input-background {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: transparent;
  -webkit-box-shadow: 0 2px 7px $shadowColor;
}

.akveo-label {
  @include text-style;
  float: left;
  margin: 20px;
}

.input-new-task-name {
  font-family: 'MV Boli';
  font-size: 15px;
  font-style: normal;
  border: hidden;
  background-color: $inputBackgroundColor;
  color: $textColor;
  border-bottom: 1px solid $textColor;
  padding: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 200px;
}

.logout {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  display: inline;
}

input:focus {
  outline: none;
}

:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.6s ease;
}

::-webkit-input-placeholder {
  color: $textColor;
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}

.alert-name {
  font: {
    family: 'Calibri Light';
    size: 13px;
    style: normal;
  }
  color: $textColor;
  position: absolute;
  left: 47%;
  top: 75%;
};

.add-task-btn {
  @include btn-text-style;
  @include btn-normal-style;
  border-color: transparent;
  width: 60px;
  padding: 3px;
}

.add-task-btn:hover {
  @include btn-hover-style;
}

.add-task-btn:active {
  @include btn-active-style;
}
